<!--Event groups-->

<ul class="watchWrapper"> 

<li class="widget">
<h5 class="widgetheading">Online Meetup：TOSCAを使用したことによりVMware、ｖCLOUD　AIR,VSphere, VMware搭載のOpenstackのReal World アプリケーションのオーケストレーションが簡単になりました。|2014年11月</h5>	
<a class="hover-wrap fancybox fancybox.iframe" data-fancybox-group="gallery" title="OOnline Meetup：TOSCAを使用したことによりVMware、ｖCLOUD　AIR,VSphere, VMware搭載のOpenstackのReal World アプリケーションのオーケストレーションが簡単になりました。|2014年11月" href="http://www.youtube.com/embed/bbpJaGT5TgI?enablejsapi=1&wmode=opaque">

<!-- Thumb Image and Description -->
<img src="http://i.ytimg.com/vi/bbpJaGT5TgI/maxresdefault.jpg" alt="Lハイブリッドもしくは、マルチクラウド環境でのアプリケーションオーケストレーションをお探しですか？是非TOSCAのオーケストレーションについてご覧ください。TOSCAはXMLを導入した方々から誕生し、ワークロードをシームレスに移行し、VMwareクラウドオファリングで同時に実行されるハイブリッド・デプロイメントを作成いたします。Cloud Online Meetupにて、CloudifyのTOSCAが状痛の管理インターフェイスになれることを学びませんか">
<p></p>
<p class="text-right">
	<span class="btn btn-blue" ><i class="icon-play"></i> 見る</span>
</p>
</a>
</li>




<li class="widget">
<h5 class="widgetheading">なぜDevOpsの面接がうまくいかないのか｜2014年11月</h5>	
<a class="hover-wrap fancybox fancybox.iframe" data-fancybox-group="gallery" title="Why Can't I Nail That DevOps Interview?! (Nir Cohen, Ops Architect)" href="https://player.vimeo.com/video/115514014">

<!-- Thumb Image and Description -->
<img src="https://i.vimeocdn.com/video/501611514_295x166.webp" alt="私は人事の専門家ではありませんが、今まで30人近くにOpsLeadの役職に面接をしてきましたが、採用できる人材に一人も出会えませんでした。また、仕事に適切な人材がいない場合、質の悪い質問等をする面接官の話をよく聞きます。なぜ適切な人事を探すのが大変かを教えたいと思います。">
<p></p>
<p class="text-right">
	<span class="btn btn-blue" ><i class="icon-play"></i> 見る</span>
</p>
</a>
</li>
<!-- End Item Project -->


<li class="widget">			
<h5 class="widgetheading">Online Meetup:サミットに関する話｜2014年11月</h5>			
<a class="hover-wrap fancybox fancybox.iframe" data-fancybox-group="gallery" title="Online Meetup: Tales from the Summit (w/ Nati Shalom, GigaSpaces & Alex Freedland, Mirantis)" href="http://www.youtube.com/embed/UEGrCHgfLYE?enablejsapi=1&wmode=opaque">

<img src="http://i.ytimg.com/vi/UEGrCHgfLYE/maxresdefault.jpg" alt="GigaSpacesのナティ・シャーロム氏とMirantisの会長のアレックス・フリードマン氏がパリスで行われたOpenStackデザインサミットについて詳し説明いたします｜2014年11月">
<p></p>
<p class="text-right">
	<span class="btn btn-blue" ><i class="icon-play"></i> 見る</span>
</p>
</a>
</li>


<li class="widget">	
<h5 class="widgetheading">次のパネルディスカッションーCloudStackコラボレーションコンフレンスヨーロッパ2014｜2016年11月</h5>					
<a class="hover-wrap fancybox fancybox.iframe" data-fancybox-group="gallery" title="What's Next Panel Discussion - CloudStack Collaboration Conference Europe 2014 (Funs Kessen &  Roeland Kuipers, Schuberg Philis) | Nov 2014" href="http://www.youtube.com/embed/1vHL_ldWUOE?enablejsapi=1&wmode=opaque">
<img src="http://i.ytimg.com/vi/1vHL_ldWUOE/maxresdefault.jpg" alt="ファンズ・ケッセン氏とSchuberg Philisからローランド・クイパーズ氏が省らのCloudStackなどについて対談">
<p></p>
<p class="text-right">
	<span class="btn btn-blue" ><i class="icon-play"></i> 見る</span>
</p>
</a>
</li>



<li class="widget">
<h5 class="widgetheading">TOSCAとCloudifyを使用したCloudStackのオートメーションCloudStackコラボレーションコンフレンスヨーロッパ2014｜2014年11月</h5>
<a class="hover-wrap fancybox fancybox.iframe" data-fancybox-group="gallery" title="Deployment Automation on CloudStack with TOSCA and Cloudify - CloudStack Collab Conf, Uri Cohen | Nov 2014" href="http://www.youtube.com/embed/cRzh2-_Bm-M?enablejsapi=1&wmode=opaque">
<img src="https://i.ytimg.com/vi/cRzh2-_Bm-M/maxresdefault.jpg" alt="こちらの動画では、ウリ・コーヘン氏がTOSCAについて語ります。今回はTOSCAとは何か、またCloudStackのコンテクストの理由、そしてCloudStack上で、展開中と展開後の両方で完全なアプリケーションを処理するためにスタックをさらに上げる方法について説明します。">
<p></p>
<p class="text-right">
	<span class="btn btn-blue" ><i class="icon-play"></i> 見る</span>
</p>
</a>
</li>


<li class="widget">	
<h5 class="widgetheading">オートメーションやオーケストレーションについてディスカッション－OpenStackデザインサミットアトランタ｜2014年5月</h5>					
<a class="hover-wrap fancybox fancybox.iframe" data-fancybox-group="gallery" title="Automation, Orchestration, Confusion? Taking the Discussion Up the Stack - OpenStack Design Summit Atlanta (Nati Shalom, GigaSpaces) | May 2014" href="http://www.youtube.com/embed/RhkArGEIAz8?enablejsapi=1&wmode=opaque">
<img src="http://i.ytimg.com/vi/RhkArGEIAz8/maxresdefault.jpg" alt="オートメーションやオーケストレーションについてディスカッション。出演者：GigaSpaces Technologiesからナティ・シャーロム氏、Red Hatからスティーブ・ベーカー氏、hastexoのフロリアン・ハース氏、Mirantisからジョージ・オクロクヴェツホフ氏、そしてRackspaceからジョン・イー氏
">
<p></p>
<p class="text-right">
	<span class="btn btn-blue" ><i class="icon-play"></i> 見る</span>
</p>
</a>
</li>



</ul>

<!--
<div class="pagination">
	<ul class="pager" id="myPager"></ul>
</div> -->


