---
layout: bt_about
title: Cloud Orchestration | Cloud Automation
category: cloud orchestration cloud automation
---
<section id="inner-headline">
			<div class="container">
				<div class="row">
					<div class="span12">
						<ul class="breadcrumb">
							<li><a href="/"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
							<li>製品<i class="icon-angle-right"></i></li>
							<li class="active">Cloudify</li>
						</ul>
					</div>
				</div>
			</div>
</section>					

		<section id="content">
			<div class="container">
				<div class="row">
					<div class="span6">
						<h1><strong>Cloudify ピュアプレイオーケストレーションの導入</strong></h1>
						<h2>Cloudify によるアプリケーションライフサイクルの完全なオーケストレーション</h2>
						<p>テクノロジーアプリケーションスタック、ツール、インフラストラクチャーの多様化する現状では、自社のビジネスやデベロッパー、チームに有効なものを組み合わせるのも大変な作業です。</p>
						<p> ここでもし、スタックもツールも自由に選び、ハイブリッド環境も含めたどのようなインフラストラクチャーでもそれらを簡単に運用できるとしたらどうでしょう。コンフィギュレーションはゼロで簡単に、です。</p>
						 <p><strong>TOSCA（クラウドアプリケーションのためのトポロジーとオーケストレーションの仕様書）</strong>に準拠するCloudifyはテクノロジーにとらわれないため、トポロジーのモデリングが終われば、アプリケーションライフサイクル全体のオーケストレーションが可能となり、さらに全体の管理と監視、スケーリング、回復を同一の拠点から行いながら、任意のインフラストラクチャーへのデプロイメントを実施します。</p>
						 <p>また、Cloudifyと、先進のクラウド、インフラストラクチャー、ツール（実にOpenStakからVMware、Chefを用いたDocker、PuppetやFabricのあるSSHまで）との常識を超えた統合により、文字通りダウンロードするだけで始められるのです。</p>
						

					
						</div>
					<div class="span6">
						<!-- start flexslider -->
						<div class="flexslider">
							<ul class="slides">
								<li>
								<a class="hover-wrap fancybox fancybox.iframe" data-fancybox-group="gallery" title="Cloudify New Intelligence in Cloud Orchestration" href="http://www.youtube.com/embed/1OFTneg_WKE?enablejsapi=1&wmode=opaque">
								<br/> <br/>
								<img src="/img/AboutThumbnail2.png" alt="インテリジェントクラウドオーケストレーション – どのクラウドでも – どのツールでも | デプロイメント、管理、スケーリング" /></a>
								</li>
							</ul>
						</div>
						<!-- end flexslider -->
						<div class="aligncenter ">
						 <h3><strong><font color="#00B4DA"><i class="icon-play"></i>  モデリング <i class="icon-play"></i> デプロイメント <i class="icon-play"></i> 管理</font></strong></h3></div>

						
						<br/>
						
													{% include downloadbuttons.html %}

				</div>
				</section>
				<section id="content">
				<div class="container">
				<div class="row">
				<div class="span12">
				<div class="aligncenter">
				<div class="well"><h2><i class="icon icon-star"></i> <a href="/cloudify-3.3-nfv-hybrid-cloud-workloads-orchestration-openstack-murano-kubernetes.html"><strong><font color="#00B4DA"> 最新のリリース</font>.</strong></a>で最新情報をチェック<i class="icon icon-star"></i></h2></div>
				</div>
				</div>
				</div>
				<div class="row">
				<div class="span12">
				<hr/>
					<h1>クラウドアプリケーションの<strong>ピュアプレイオーケストレーション</strong></h1>
					<p>大半のツールはアプリケーション管理のインストールと設定の段階に焦点を当てていますが、実際に管理作業が発生するのはアプリケーションのデプロイ後ということが多いものです。</p>
					<p>イベント駆動型ワークフローやTOSCAのモデリング言語により、どのツール、環境、ワークロードでもプラグインし、その上に自動プロセスのレイヤー（デプロイメントからポストデプロイメント、自動スケーリング）を、さらにはモニタリングやメトリクスまでも追加することが可能になりました。これにより、Cloudifyはオーケストレーションとモニタリングの間の境界を無くし、既定のイベントに適切な修正措置で自動対応するメカニズムを提供します。修正措置の自動トリガーに対するモニタリングとカスタムのポリシーもこれに含まれ、インテリジェントな自動回復と自動スケーリングの機能を実現します。</p>
					
					<br/>
					<div class="aligncenter">
					<img style="max-width:100%" src="//cdn.thinglink.me/api/image/725994993713414146/1024/10/scaletowidth#tl-725994993713414146;1043138249'" class="alwaysThinglink"/><script async charset="utf-8" src="//cdn.thinglink.me/jse/embed.js"></script></div>
					

				</div>
				</div>
				</div>
			</section>	
				
	<section id="bottom">	
	<div class="container">
		<div class="row">
			
				<div class="span12">
				<div class="pad35">
				<h1>すべての<strong>ユースケース用のOpenStackオーケストレーション</strong></h1></div></div></div>

				<div class="row">
				<div class="span4">
				<div class="pad35">

				<!-- start portfolio -->
							<div class="aligncenter">
							<p>&#160;</p>
								<a href="/openstack-architecture-cloudify.html" alt="OpenStack Orchestration">
								<img src="/img/OS-SQ.png" onmouseover="this.src='/img/OS-SQ-OUT.png'" onmouseout="this.src='/img/OS-SQ.png'" />
								</a>
								</div>
						
						</div></div>
						<!-- end portfolio -->


				<div class="span8"><div class="pad35">
				<h2 style="vertical-align:top;"><strong><font color="#00B4DA" style="font-size:16px;"><a href="/openstack-architecture-cloudify.html" alt="OpenStack Orchestration">OpenStack Orchestration for Any Use Case</a></font></strong></h2>
								<p style="vertical-align:top;">CloudifyはOpenStackネイティブなので、あらゆる種類のOpenStackデプロイメントとシームレスに連携することができ、ユースケースに対して簡単にアプリケーションを編成できます： ハイブリッドクラウド、NFV、データ資産の移行作業等。</p>
								<p style="vertical-align:top;"> Cloudifyは、NeutronからMuranoまでのすべてのOpenStack APIに対応しております。</p>
								<p>CloudifyのMuranoはTOSCAの設計図の管理とオーケストレーションをHorizonダッシュボードから直接サポート致します。</li>
								<strong><i clas=""></i><a href="http://getcloudify.org/2015/10/27/openstack-tokyo-summit-cloud-kubernetes-murano-heat-nfv-orchestration-docker.html">Muranoのインテグレーション</a>に関するブログを読む</strong>
						</div>
					</div>
					</div>

					<div class="row">
						<div class=" span8"><div class="pad35">
				<h2 style="vertical-align:top;"><strong><font color="#00B4DA" style="font-size:16px;"><a href="/vmware-hybrid-cloud.html" alt="VMware Orchestration">すべてのVMware stack用のTOSCAオーケストレーション</a></font></strong></h2>
								<p style="vertical-align:top;">
								VMware-Cloudifyとの統合により、ユーザーはインストール、デプロイ、デプロイ後のプロセス（モニタリング、自己修復、自動スケーリング）を自動化にするフレームワークを利用できるようになりました。VMwareのユーザーは、Cloudifyで、VMware環境を広げるために<a href="{{ site.baseurl }}/openstack-architecture-cloudify.html">OpenStack</a>などの他クラウドを使い、ハイブリッドクラウドを形成することや<a href="{{ site.baseurl }}/network-function-virtualization-vnf-nfv-orchestration-sdn-platform.html">NFVオーケストレーション</a>を作成することもできます。</p>
								
							
						</div></div>

					<div class="span4"><div class="pad35">
						<div class="aligncenter">
								<a href="/vmware-hybrid-cloud.html" alt="VMware Orchestration">
								<img src="/img/VMW-SQ.png" onmouseover="this.src='/img/VMW-SQ-OUT.png'" onmouseout="this.src='/img/VMW-SQ.png'"/>
								</a></div>
								
						</div>
						</div>
						</div>
				<div class="row">
				<div class="span4"><div class="pad35">

						<div class="aligncenter">
								<a href="docker-orchestration-docker-container-deployment-cloud.html" alt="OpenStack Orchestration">
								<img src="/img/Docker-Kub-SQ.png" onmouseover="this.src='/img/Docker-Kub-SQ-OUT.png'" onmouseout="this.src='/img/Docker-Kub-SQ.png'" />
								</a>
								</div>
							
						</div>
						</div>


				<div class="span8"><div class="pad35">
				<h2 style="vertical-align:top;"><strong><font color="#00B4DA" style="font-size:16px;"><a href="docker-orchestration-docker-container-deployment-cloud.html" alt="OpenStack Orchestration">ハイブリッドワークロード用のDockerオーケストレーション</a></font></strong></h2>
								<p style="text-align:top;">								
Cloudifyには<a href="http://docs.getcloudify.org/3.3.0/plugins/docker/">Dockerのプラグイン</a>とマッチングタイプが導入されており、ユーザーはDockersコンテナをトポロジーとしてご利用できます。これにより、Dockerベースのシステムのための本格的なオーケストレーションと自動化メソッドをご提供できます。CloudifyはKubernetesの内蔵プラグインを保有しています。さらにCloudilyはTOSCAのエンジンにより、<a href="http://getcloudify.org/2015/10/27/openstack-tokyo-summit-cloud-kubernetes-murano-heat-nfv-orchestration-docker.html">Kubernetes</a>が簡単にTOSCAのクラウドを拡張、同じテンプレート内の非マイクロサービスと一緒にマイクロサービスを融合し、さらにクロスクラウド、環境、ワークロードオーケストレーション全体を提供するシステムのなかで新たな言語を作成しました。
								</p>
								
								<a name="HPLink2"></a>
	
						</div>
					</div>
					</div>


				<div class="row">
				<div class=" span8"><div class="pad35">
				<h2><strong><font color="#00B4DA" style="font-size:16px;"><a href="http://getcloudify.org/examples/home.html">どのインフラストラクチャーに対応のプラグイン</a></font></strong></h2>
								<p>
<a href="http://getcloudify.org/guide/3.2/plugin-softlayer.html">SoftLayer</a>, <a href="http://getcloudify.org/guide/3.2/plugin-cloudstack.html">Apache CloudStack</a>, <a href="http://docs.getcloudify.org/3.3.0/plugins/aws/">AWS</a>, Azure & Digital Ocean用のプラグインがCloudifyに内蔵されております。プラグイン可能なアーキテクチャが同じ設計図を使用し同じアプリケーションを複数のクラウドで使うことが可能になりました。こちらは、既存の環境からクラウド環境へ移る利用者にとってとても便利な機能です。また、Openstack,VMware,Amazon等、ほかのクラウドにおけるバーストとハイブリッドクラウドを利用可能な状態に致します。
								</p>
								
							
						</div></div>

				<div class=" span4"><div class="pad35">
						<div class="aligncenter">
								<a href="http://getcloudify.org/examples/home.html">
								<img src="/img/ANY2-SQ.png" onmouseover="this.src='/img/ANY2-SQ-OUT.png'" onmouseout="this.src='/img/ANY2-SQ.png'" />
								</a>
								</div>
						</div>
						</div>
						</div>


	

			</section> 
			
			
<section id="content">
	<div class="container">
					<div class="row">
					<div class="span12">
					<h1><strong>ユースケース</strong></h1></div></div>
					<div class="row">
							<div class="span4">
							<div class="box alignjustify">
							<div class="aligncenter icon">
									<img src="/img/Cloudify-SDN.png" width="350">
							</div>
							<div class="text">
								<br/>
								<h4><strong>NFVオーケストレーション：<font color="#00B4DA">唯一テクノロジー</font>にとらわれないManoの実装</strong></h4>
								<p>TOSCAによるとCloudifyはETSIのManoの実装は現状、世界で唯一広範囲に実装する技術です。</p>
								<p>こちらはTier-1テレコムオペレーターもNFCオーケストレーションのツールとしてCloudifyを使っていただいていることによって証明されています。 <a href="https://github.com/Orange-OpenSource/opnfv-cloudify-clearwater" target="_blank"><strong><font color="#ff6600">Orange Labs</font></strong></a>がｖILMS POCのオーケストレーションの際にCloudifyを使って完成した<i class="fa fa-code-fork"></i>作業を参照。</p>
								<p><a class="hover-wrap fancybox fancybox.iframe" data-fancybox-group="gallery" title="VNF Deployment Lifecycle - vIMS Application & Service Onboarding Demo" href="http://www.youtube.com/embed/ZsT78d1BR5s?enablejsapi=1&wmode=opaque"><i class="icon icon-play"></i>ｖIMS+Clearwater</a>の例の動画をご覧になる方、またはNFVのページをご覧になられる方</p>

							</div>
							</div>
							</div>
						<a name="Monitoring"></a>
							<div class="span4">
							<div class="box alignjustify">
							<div class="aligncenter icon">
									<img src="/img/ANY-RD.png" width="239" />
							</div>
							<div class="text">
							<br/>
							<h4>Cloudifyと<strong><font color="#00B4DA">ハイブリッドクラウド＆ワークロード</font></strong> </h4>
								<p>現実は様々なインフラで様々なワークロードを実行されています（コンテナからクラスタ・データベースやベアメタル上のビッグデーターやアナリティクスシステムなど）ハイブリッド環境とワークロードを接続するには、オーケストレーションのプラットフォームが必要です。CloudifyはTOSCAのエンジンによって複雑なシステムに対して単一画面を作りました。</p>
															
							</div>
							</div>
						</div>

							<div class="span4">
							<div class="box alignjustify">
							<div class="aligncenter icon">
									<img src="/img/ent-orch.png" width="350">
							</div>
							<div class="text">
							<br/>
							<h4><strong><font color="#00B4DA">Cloudifyは企業のクラウド移行と移植性をシンプルに</font></strong> </h4>
								<p>最近の多くの企業は異種の内部ITインフラストラクチャーに悩まされています。様々な技術を管理することはアライメント、バージョン管理、保守性 、リソース、効率の低下などが問題となっています。 </p>
								<p>企業は様々なツール、レガシー、OpenStackからVMwareへのデータセンターなどをサポートする一つのオーケストレーションのプラットフォームが必要です。</p>
								
							</div>
							</div>
						</div>

					</div>

				</div>
</section>

		<section id="content">
			<div class="container">

		<div class="row">
		<div class="span2"></div>
		<div class="span8">
		<div class="aligncenter">
			
				<h2><strong>Cloudifyについてダウンロード</strong></h2></div>
						<br/>
							
							{% include downloadbuttons.html %}
						
						</div>
						<div class="span2"></div>
					</div>
					</div>
			<div class="container">
			{% include addthis.html %}
			</div>
					</section>
