---
layout: bt_about
title: 構成管理 | Ansible | Puppet | Chef
category: cloudify player
---
<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="span12">
				<ul class="breadcrumb">
					<li><a href="/"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
					<li class="active">構成管理</li>
				</ul>
				<br/>
			</div>
		</div>
	</div>
</section>
		<!--<div id="resultsDiv" class="DocumentsWrap"></div>-->
	<!--	<section id="content">
		<div class="container">
				<div class="row">
					<div class="span6 no-margin">
						<h1>Chef <strong>on the Cloud in a Click</strong></h1>
					<h2><strong>Test drive Chef using the Cloudify Player </strong></h2>

            <p class="lead">This is a tutorial that will show you how to install a Chef server on demand using Cloudify, as well as a new Chef cookbook.  You will then be able to run and manage them through the Cloudify interactive shell.</p>
		<p>NOTE: Installing Chef can take 2-3 minutes!</p>

             <a class="btn btn-lg btn-default launchPlay" id="launch" style="float:left"  href="javascript:void(0)" data-launched="false">
                <span class="glyphicon glyphicon-play"></span>
                Launch Now
              </a>
			  <div class="container pbarWrap" style="width:400px;float:left;margin:5px 0 0 15px">

				<div class="progress progress-striped active">
					<div class="bar" style="width: 0%;"></div>
				</div>
			</div>
			<div class="clear clearset"></div>
             <div class="panel panel-default" style="display:none">
            <div class="panel-heading">
              <a href="#" id="manage" class="btn btn-lg btn-primary disabled" target="manage">» Manage your app</a>
              <a href="#" id="use" class="btn btn-lg btn-primary disabled" target="use">» Use Chef</a>
              <div class="pull-right">
                <p>
                  Time Left: <strong id="time-left">...</strong> minutes.
                </p>
              </div>
            </div>
            <div class="panel-body"> 
              <pre id="log">                <!-- Log goes here -->
          <!--    </pre>
            </div>
            <div class="panel-footer">Powered by: HP Cloud, Cloudify (Patent Pending)</div>
          </div> -->
						<!--<br>
						<br>-->
<!--
			
						<a id="mixpanelSubscribe" class="btn btn-large btn-green btn-rounded" href="#"><i class="icon-plus"></i>  Get Free Cloud Package</a> -->

<!-- <a class="btn btn-large btn-theme btn-rounded" id="downloadBtnInner" href="{{ site.baseurl }}/downloads/get_cloudify.html"><i class="icon-download-alt"></i>  Download Now</a>
						</div> 

					<div class="span6">
					<h1>Try out <strong>the interactive shell</strong></h1>
						<h2><i class="icon-50 icon-arrow-down"></i> Start Now</h2>
						<div class="span12 center" id="loading"  style="display:none">
							<i class="icon-spinner icon-spin icon-large blue"></i>Loading interactive shell...
							<br/>
							Until then feel free to watch this tutorial video.

						</div>
						<br/>
							<br/>

						<div id="butterfly-iframe">
<iframe id="ytIframe" width="562" height="422" src="//www.youtube.com/embed/S5YLj2q4KRg" frameborder="0" allowfullscreen></iframe>
							<div id="butterflyWrapper" style="display:none">
								<iframe id="butterfly" src="#" width="768px" height="400px" frameborder="1" scrolling="auto"></iframe>
								<a id="watchVideoBtn" class="hover-wrap fancybox fancybox.iframe" data-fancybox-group="gallery" title="Cloudify Your App on Chef" href="#" rel="gallery"><span class="btn btn-rounded btn-default"><i class="icon-play"></i> Watch</span></a>
								<h2>Type the following into the terminal window:</h2>
									<ul>
										<li>connect 127.0.0.1</li>
										<li>list-applications</li>
										<li>use-application chef-server</li>
										<li>invoke chef-server listCookbooks</li>
										<li>invoke chef-server updateCookbooks tar "http://s3.amazonaws.com/yoramw/apache.tgz" ""</li>
										<li>invoke chef-server listCookbooks</li>
										<li>install-service -overrides /tmp/apache.properties /tmp/base_chef</li>
										<li>list-applications</li>
										<li>invoke chef-server knife node list</li>
										<li>invoke chef-server knife node show <node FQDN from previous list command></li>
										<li>Click <a id="viewApachePage" href="#">here to view the Apache welcome page </a> you have just deploy</li>
									</ul>
						    </div>
						</div>
					</div>
				</div>
				</div></section> -->
				<section id="content">
				<div class="container">
				<div class="row">
					<h1>O<strong>構成管理ツール</strong>のためのオーケストレーション</h1>
					<p>Cloudifyは、コマンドひとつで複数階層のアプリケーションをデプロイするためのモニタリングとロギングを備えたアプリケーションオーケストレーションサービスを提供します。プラグイン可能なアーキテクチャーで構築されたCloudifyでは、あらゆるツールチェーンにプラグインできるため、デプロイ後に適宜必要となる回復やスケールアウト、スケールイン、さらにカスタムポリシーの定義能力も含め、ライフサイクル全体を完全に網羅したアプリケーション管理が可能です。Cloudifyはデプロイメントに関するリアルタイムメトリクスも提供します。</p>
					
						<br>
					<div class="aligncenter">
				<img src="http://getcloudify.org/img/cloudify_pluggability.jpg">

<p>Cloudifyは出荷時点でPuppetやChef、Ansible、その他にも多数の主要なオープンソースツールと統合できるようになっており(<a href="http://getcloudify.org/examples/home.html" target="_blank">サンプルハブ</a>を参照)、まだプラグインがなければ自分で簡単に書くことができます。																

{% include downloadbuttons.html %}

					</p>
					

				</div>
			</div>


			</div>
				<!--<div class="row colEven">cloud_configuration_management.jpg
			<div class="row"><p></p></div>
					<div class="span4"><div class="pr iconHolder"><iframe src="http://www.slideshare.net/slideshow/embed_code/33076919" width="350" height="250" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px 1px 0; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://www.slideshare.net/cloudifysource/cloudify-orchestration-for-chef-users" title="Cloudify Orchestration for Chef Users" target="_blank">Cloudify Orchestration for Chef Users</a> </strong> from <strong><a href="http://www.slideshare.net/cloudifysource" target="_blank">cloudifysource</a></strong> </div></div></div>
					<div class="span8"><div class="pad35">	<h2>What does this actually mean for Chef users?</h2>
					<p>Essentially, Chef users can easily import their existing Chef server and Chef cookbooks, and use Cloudify to manage the application deployment and monitoring.  All this, while using Chef for setting up the configuration and installation of those services, just like Chef users are used to.</p>

					</div>

					</div>

				<div class="row">
				<div class="span12"> <p></p></div></div>


				<div class="row">
				<div class="span4"><p></p></div>
				<div class="span2"><p></p></div>
				<div class="span2"><p><div class="aligncenter icon">
				<strong>You are here <i class="icon-3x icon-circle-arrow-down"></i></strong>
				</div></p></div>
				<div class="span4"><p></p></div>
				<div class="span4"><p></p></div>
				</div>
				<div class="row">
				<div class="span2"><p></p></div>
				<div class="span8">

				<div class="aligncenter icon">
				<img src="img/ChefDiagram.png" width="650">

				</div>
				<div class="span2"><p></p></div>

				</div>

</div>
</div>--></section>

<section id="content">
				<div class="container">
				<div class="row colOdd">
				<div class="row">
					<div class="span12"><h2><strong>構成管理ツールとの統合</strong></h2>
				<p>構成管理ツールは成熟しており、多くの企業で、アプリケーションの迅速なプロビジョニングとより大規模なデプロイメントに活用されています。しかしながら、構成管理ツールはまだデプロイ前のVMプロビジョニングや、モニタリング、回復、スケーリングといった人手による作業を必要とします。また構成管理ツールは、多数のコンポーネントを、アプリケーショントポロジーのインテリジェントな観測のないまま組み込んでいます。</p>
				<p>これが、アプリケーションライフルサイクル全体のオーケストレーションと管理に、Cloudifyが有効である理由です。</p>
				
				</div></div>

				<div class="row">
					<div class="span12"><h2><strong>オーケストレーションのプロセス</strong></h2>
					<p>以下は、AnsibleやPuppet、Chefを対象としたCloudifyのオーケストレーションの基本フローです:</p>

				
			<img style="float: left; display: inline" src="{{ site.baseurl }}/img/autoscale2.png" width="450" align="left" /> 
			<p><b>ステップ1: ブループリントを用意してアップロードする</b></p>

			<p>CloudifyがサーバーのプロビジョニングとVM作成、エージェントをインストールする</p>

			<p><b>ステップ2: アプリケーションをインストールする</b></p>

			<p>ChefやPuppet、Ansible、Docker、SaltStackと統合して多彩なアプリケーションサービスをインストールする</p>

			<p><b>ステップ3: アプリケーションを管理する</b></p>

			<p>モニタリングやロギング、アラートを追加し、アップデートやパッチなどのワークフローの実行する</p>

			<p><b>ステップ4: 自動回復と自動スケーリングを追加する</b><b></b></p>

			<p>継続的にエラーを検知して修正し、キャパシティを追加する </p>

							
				</div></div>

				<div class="row">
					<div class="span12 aligncenter"><h2><span class="highlight"><strong>デプロイメント機能</strong></span></h2>
				</div></div>
				
				<div class="row">
					<div class="span4">
						<div class="box alignjustify">
							<div class="aligncenter icon">
								<i class=" icon-64">
								<img src="http://getcloudify.org/img/hpIcons/2-blue.png" width="112">
								</i>
							</div>
							<div class="text">
								<br>
								<h4><strong>サーバーとエージェントのインストール</strong></h4>
								<p>Cloudifyはアプリケーショントポロジーをインプットとして捉え、当該アプリケーショントポロジーを基にマシンをプロビジョニングします。Cloudifyでは構成管理クライアントをマシンごとにインストールできます。サーバーをプロビジョニングしたり、全サービスを既存のサーバーにリンクするのみといった場合もあります。環境が設定されると、Cloudify制御コンソールからリモートコマンドを直接呼び出し、必要に応じて簡単に新規のモジュール/クックブックをインストールしたり、デプロイメントを管理したりすることができます。</p>

							</div>
						</div>
					</div>
					<div class="span4">
						<div class="box alignjustify">
							<div class="aligncenter icon">
								<i class="icon-64">
									<img src="http://getcloudify.org/img/chefcatalog.png" width="96">
								</i>
							</div>
							<div class="text">
							<br>
								<h4><strong>既存の構成管理レシピ/エージェントのサポート</strong></h4>
								<p>構成管理ユーザーの多くは、既にエージェント/レシピと構成の作成に投資してきています。Cloudifyは既存の環境上にサービスとして設定されるように設計されているため、システム全体の再構成を強いるよりは既存の環境を活用できるようにします。
								</p>

							</div>
						</div>
					</div>
							<div class="span4">
						<div class="box alignjustify">
							<div class="aligncenter icon">
								<i class="icon-64">
									<img src="http://getcloudify.org/img/Lifecycle.png" width="151">
								</i>
							</div>
							<div class="text">
								<br>
								<h4><strong>アプリケーションライフサイクルの管理</strong></h4>
								<p>複数の層からなるアプリケーションのデプロイメントには、相互に依存するウェブコンテナやデータベースといった複数のサービスが含まれます。Cloudifyなら、これらのサービスを正しい順序で開始させることができます。各アプリケーションのライフサイクルを監視し、各サービスへのリファレンスを注入するフックを内包します。以下の例では、データベースへのレファレンスを各ウェブコンテナに注入し、ウェブコンテナの各レファレンスをロードバランサーサービスに注入しています。
								</p>

							</div>
						</div>
					</div>


			</div>
				</div>

				<div class="row colEven">

					<div class="span12"><div class="">
					<h2><span class=""><strong>デプロイ後の機能</strong></span></h2></div></div>


					<div class="container">
					<div class="row">
					<div class="span6">
						<div class="box alignjustify">
							<div class="icon">
								<i class="icon-64">
								<img src="http://getcloudify.org/img/monitoring_screen.png" width="450">
								</i>
							</div>
							<div class="text">
								<br>
								<h4><strong>モニタリングとロギング</strong></h4>
								<p>デプロイメントにおける課題のひとつは、構成管理システムと監視システムの同期を維持することです。</p>
								<p>Cloudifyではデプロイメントプロセスの一環として自動的にアップデートされる監視機能を搭載することで両システムを結んでいます。また、Cloudifyによるモニタリングでは、他の監視システムではあまりカバーされていない空白を埋めることができます。デプロイメントとセットアッププロセスも監視が必要なところを、他の監視システムはデプロイ後だけを監視するように設計されているためです。加えてCloudifyでは、ロギングとアラートを搭載し、各マネージドサービスに特有のKPI測定に必要なカスタムメトリクスも提供します。</p>

							</div>
						</div>
					</div>
					<div class="span6">
						<div class="box alignjustify">
							<div class="icon">
								<i class="icon-64">
									<img src="http://getcloudify.org/img/Remote Execution.png" width="513">
								</i>
							</div>
							<div class="text">
							<br>
								<h4><strong>遠隔実行</strong></h4>
								<p>DevOpsユーザーにとって重要な特長のひとつは、既存のデプロイ済みのサービスとやりとりし、新規アップデートをプッシュできる機能です。Cloudifyでは、DevOpsデプロイメントプロセスの一環として、<a href="http://getcloudify.org/2015/03/19/ssh-script-fabric-remote-commands-execution-deployment-automation.html" target="_blank">リモートシェルや構成管理ツールのコマンド</a>を呼び出せる遠隔実行コマンドを追加しています。この遠隔実行機能により、特定のサービスの単一またはすべてのインスタンスにこの呼び出しを簡単に設定できます。

</p>

							</div>
						</div>
					</div>
					</div>
					<div class="row">
							<div class="span4">
							<div class="aligncenter icon">
									<img src="http://getcloudify.org/img/anyCloud.png" width="200">
							</div>
							</div>
								<div class="span8">
								<h4><strong>クラウドのポータビリティ</strong></h4>
								<p>Cloudifyは、複数のプライベートおよびパブリッククラウド環境だけでなく従来のデータセンターにも対応するように設計されました。ChefやPuppet、Ansibleのユーザーは（他の構成管理ユーザーも）、この機能を活用してその環境のアプリケーションを要約することにより、同一のクックブック/モジュールとCloudifyサービスのセットを様々なクラウドでそのまま利用することができます。</p>
							</div>
							</div>

							<div class="row">
							<div class="span4">
							<div class="aligncenter icon">
									<img src="http://getcloudify.org/img/CloudifyImage-2.png" width="200">
							</div>
							</div>
								<div class="span8">
								<h4><strong>高度なオーケストレーション</strong></h4>
								<p>Cloudifyは、各サービスと交流し、適切なコマンドを実行することで複雑なプロセスを自動化できるオーケストレーションサービスを備えています。</p>
								<p>以下を扱う内蔵プロセスのセットが備わっています:</p>
								<ul>
									<li>自己回復</li>
									<li>自動スケーリング</li>
									<li>障害復旧の自動化</li>
									<li>DevOpsポリシー（アップデートのプッシュなど）</li>
								</ul>
							</div>
							</div>
						</div>
					</div>

				</div>

	 <div class="clear"></div>  

					<div class="container">
	 						<div class="row">
							<div class="span12">
							<div class="aligncenter">
								<h2><strong>Learn more about Cloudify Premium<sup>TM</sup> or Download Now</strong></h2></div>
							</div>
						</div>
						<div class="row">
							<div class="span12">
														{% include downloadbuttons.html %}

							</div>

						</div>
					</div>
					</section>


<script src="http://ricostacruz.com/nprogress/nprogress.js"></script>
    <div id="hidden-iframe" style="display:none"><iframe id="iframe" src="http://launch.cloudifysource.org/widget/widget?apiKey=ab8d9d70-13fd-4cec-bfd8-622c352cdaa7&amp;title=Launch&amp;origin_page_url=http://www.getcloudify.org/chef_cloud_configuration_management.html" width="600" height="463"></iframe></div>
    <script type="text/javascript">
      var WIDGET_ID = 'ab8d9d70-13fd-4cec-bfd8-622c352cdaa7';
    </script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/widget/script.js"></script>
 <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.postmessage/0.5/jquery.ba-postmessage.min.js"></script>

 <script>
 $(function() {   

//Manage Downloads Gating;
//========================================//
var gotName = false;
var gotValidCaptcha = false;
var downloadHref="";
var strVar="";
var formEmail="";
var formName="";
strVar += "<div class=\"modal fade\" id=\"myModal\" tabindex=\"-1\" role=\"dialog\" aria-labelledby=\"myModalLabel\" aria-hidden=\"true\">";
strVar += "            <a  style=\"float:right \" class=\"gattingWrapperClose\" href=\"#\"><i class=\"fa fa-times\">&nbsp;&nbsp;<\/i> <\/a>";
strVar += "<div class=\"gattingWrapper\">";
strVar += "           <form class=\"regiterToMixpanel\" name=\"mc-embedded-subscribe-form\" id=\"mc-embedded-subscribe-form\" action=\"https:\/\/cloudifysource.us4.list-manage.com\/subscribe\/post?u=5e963581396e0c0e43ed217f8&id=b43defea9b\" method=\"POST\">";
strVar += "			<div class=\"regTitle\">Subscribe here<\/div>";
strVar += "			<div style=\"position:relative\">";
strVar += "				<input  id=\"last_name\" name=\"last_name\" type=\"text\" class=\"cuInput\" placeholder=\"Your Name\" \/>";
strVar += "				<div class=\"cuValid\"><\/div>";
strVar += "			<\/div>";
strVar += "			<div style=\"position:relative\">";
strVar += "				<input  id=\"company\" name=\"company\" type=\"text\" class=\"cuInput\" placeholder=\"Your Company Name\" \/>";
strVar += "				<div class=\"cuValid\"><\/div>";
strVar += "			<\/div>";
strVar += "			<div style=\"position:relative\">";
strVar += "				<input  id=\"mce-EMAIL\" name=\"email\"  type=\"text\"  placeholder=\"Your Email\"\/>";
strVar += "				<div class=\"cuValid\"><\/div>";
strVar += "			<\/div>";
strVar +="          <input id=\"website\" name=\"website\" type=\"text\" value=\"\"  \/>";
strVar += "			<input type=\"submit\" class=\"cuSendGatting btn btn-info\" id=\"mc-embedded-subscribe\" =\"submit\" value=\"Subscribe\" \/>";
strVar += "			<\/form>";
strVar += "        <\/div>";
strVar += "        <\/div>";





$("#mixpanelSubscribe").click(function(e) {
    
	$(this).before(strVar);
	downloadValid();
	formEmail =  mixpanel.cookie.props.__alias;
	if(formEmail==undefined){
		$('#myModal').modal('toggle');
	}else{
		alert("You have already registered.")
	}
});

	$('#pageContent').on("click", "a.gattingWrapperClose", function() {
		$('#myModal').modal('hide');	
	});	

function downloadValid(){
  //Validation
   $('.regiterToMixpanel').validate({ // initialize the plugin
        errorLabelContainer: "#error-note",
        rules: {
            last_name: {
                required: true
            },
			company: {
                required: true
            },
			email: {
                required: true,
                email: true
            }

			},
        messages: {
            last_name: {
                required: "Please enter your first name",
            },
			 company: {
                required: "Please enter your company name",
            },
            email: {
                required: "Please specify your email",
                email: "Correct format is name@domain.com"
            }

        },
        submitHandler: function (form,e) { // for demo
            if ($('input#website').val().length != 0) {
                return false;
            } else{
			var chefemail = $("#mce-EMAIL").val();
			var chef_first_name = $("#last_name").val();
			var company = $("#company").val();
			mixpanel.identify() ;
			mixpanel.people.set_once({
					$email: chefemail,
					$first_name: chef_first_name,
					$company:  company,
					$created: new Date(),
		});
					mixpanel.track('HP Chef Widget Campaign', {'page name' : document.title, 'url' : window.location.pathname});
					$('#myModal .gattingWrapper form input').hide();
					$('#myModal .regTitle').text("Thank you for registering! We will be in touch with further details.");
					setTimeout(function() {
						$('#myModal').modal('hide');		
					}, 4000);
            }
            //return false; // for demo
        }
    });
  //End Validation
}



//Blocking Spam http://blog.supermedia.com/honeypot-technique/
$('#regiterToDownload').submit(function(){    
        if ($('input#website').val().length != 0) {
            return false;
        } 
});
//End Blocking Spam

});
</script>
