---
layout: bt_left_sidebar_nfv
title: Network Function Virtualization | VNF | NFV Orchestration | NFV Management | SDN Platform 
category: NFV
---


		<section id="content">
			<div class="container">
				<div class="row">
					<div class="span9">
						<h1>TOSCAに<strong>よるNFV管理とオーケストレーション</strong></h1>
						<p>通信事業者や企業が、標準化されたハードウェア上にネットワーク機能とサービスをデプロイし、管理し、スケーリングする用途として、NFV（ネットワーク機能仮想化）に対する需要が高まっています。Cloudifyでは、シンプルなTOSCA準拠のYAMLブループリントに従い、カスタマイズされたトリガーによってシステムが回復やスケーリングといった主体的な対応をとれるよう（Day0～Day2サポート）にします。アプリケーションやサービスの管理とモニタリングを通じて、インストールからプロビジョニング、構成、デプロイメントまでライフサイクルをエンドツーエンドでカバーするNFVオーケストレーションを提供します。</p>

						
						<br/>
						<a name="dtag"></a>
						<hr/>
													{% include downloadbuttons.html %}

						<hr/>
					<div class="row">
				<div class="span9">
								

					<div class="flexslider">
							<ul class="slides">
								<li>
								<p><strong>SDN OpenFlow世界会議で上映された動画</strong>をご覧ください。Deutsche TelekomがCloudifyを含むオープンソースツーリングでソフトウェア定義オペレーターになるまでの道のりを描いています。</p>
								<a class="hover-wrap fancybox fancybox.iframe" data-fancybox-group="gallery" title="The Road to Becoming a Software Defined Operator - Alexander Sobania, Deutsche Telekom" href="http://www.youtube.com/embed/DgCku0V_JUs?enablejsapi=1&wmode=opaque">
								
								<div class="aligncenter">
								<img src="/img/DTAG2.png" alt="Deutsche Telekom SDN & NFV Architecture Using Cloudify Orchestration" width="75%" />
								</div>	
								</a>
								</li>
							</ul>
						
						<a name="nfvorchestration"></a>

					</div>
					</div>
					</div>
						
				</section>

				<section class="bottom">
				<div class="container">
				<div class="row">
				<div class="span5">
				<h2><strong>ピュアプレイで標準に準拠したシンプルなNFV</strong></h2>
				<p>オープンソースのピュアプレイ汎用クラウドオーケストレーターとして一から構築されたCloudifyは、ETSIとMANO、YANG、NETCONF/RESTCONF、そしてTOSCAなどの、業界で受け入れられているネットワーク標準やモデリング言語とシームレスに統合するように設計されているため、NFVに特化したオーケストレーションと管理の最適化に完全に集中することを可能にします。つまり、統合に特化して開発されているため、ベンダーやテクノロジースタックに関わらず、すべてのクラウド環境でどのようなワークロードでも操作できるのです。</p>

				<p>Cloudifyがオープンソースで本質的にモジュールベースであり、既存/新規のツールセットと環境とのプラガビリティを持つことから、多くの大手通信事業者がCloudifyを選択し、評価を行っています。NFVOとしての機能以外にも、CloudifyはVNFマネージャー（VNFM）としての役割を果たせる上に、複数VIM機能も実証しています。</p>

				<p>さらに、Cloudifyは、DNSやLDAP、SDNコントローラー、ODL、さらに完全なサービス管理とチェイニングも含めた周辺ネットワークデータベースとインターフェイス接続するための多数のプラグインを提供しており、IMSやインターネット起動、出荷時の各テナントへのプロビジョニングといった大規模なサブシステムをオーケストレートする機能も実証済みです。単一のマネージャーに複数のクラウド（<a href="http://getcloudify.org/vmware-hybrid-cloud.html" target="_blank">VMware</a>から<a href="http://getcloudify.org/openstack-architecture-cloudify.html" target="_blank">OpenStack</a>まで）だけでなく複数のデータセンターや可用性ゾーンをもサポートさせるCloudifyなら、過去のインストール基盤と、コンテナのような最新のインフラストラクチャー（Kubernetesの例を参照）から次世代テクノロジーまで、容易に移行できるようになるため、ハイブリッドクラウドモデルを持つ中・大規模の通信事業者やインターネットサービス事業者、企業にとって非常に魅力的な存在です。</p>
				
				<br/>
					

					</div>

					<div class="span4">
					<div class="testimonial">
					<h3><b>ソリューションとしての主な利点</b></h3>
					<p>Cloudifyは、企業や通信事業者の異質な環境に適合するユニークなポジションにある唯一のピュアプレイオーケストレーションフレームワークであり、その利点には以下も含まれます:</p>

					<ul>
					  <li>TOSCA準拠、標準準拠のピュアプレイオーケストレーション</li>

					  <li>NFVライフサイクル全体に対するトポロジー駆動型でアプリケーション中心的な管理と監視</li>

					  <li>あらゆるツールチェーンと統合可能</li>
										
					  <li>ネイティブなOpenStackとベアメタル、仮想アプライアンス対応により、あらゆるアプリケーションスタックをサポート（全クラウド/ハイブリッドクラウドモデルへのポータビリティを実現）</li>

					  <li>コンテナ化/非コンテナ化されたワークロードをサポート</li>

					  <li>連結デプロイメントを想定した設計</li>

					  <li>レガシーネットワーク機能をサポート</li>

					  <li>デプロイ済みアプリケーションに対する自動回復と自動スケーリングのポリシーを搭載</li>

					  <li>組み込みも可能（OEM）</li>
					  <br/>
					  <p>VMwareもCloudifyをオーケストレーションプラットフォームとして選んだ企業の一つであり、vCloud Director (vCD)やVMware Integrated OpenStack、vCloud Air、さらにvSphereとvRealize上にもアプリケーションとVNFを立ち上げようとしています。この点についての最近のオンラインセミナーとライブ実演訪問を見るには、以下をクリックしてください: <a href="{{ site.baseurl }}/vmware-hybrid-cloud.html" target="_blank">VMwareのCloudify</a>利用</p>
					  <br/>
					  <p><strong>View the entire <a href="{{ site.baseurl }}/cloudify-features.html" target="_blank">Cloudify Feature List</a>.</strong></p>
					</ul>

					</div>
					<p></p>
					<a name="nfvusecase"></a>
					<p></p>
					<br/>
					</div>
			
					</div>
					
			
				
					<div class="row">
					<div class="span9">
					<p></p>
					<div class="well">
						
					<h3><b>ユースケース: エンハンストプラットフォームアウェアネスによるデータプレーンアクセラレーション</b></h3>

					<p>NFV採用の成否は、既存の専有ネットワーク機器と比較し、仮想クラウドインフラストラクチャーが十分な性能を発揮できるかに大きく依存します。今日のネットワーク機能の多くは短時間に多数のデータパケットを送信するI/Oインテンシブなものであり、通信事業者やキャリアの間で普及している汎用ハードウェアは、そのような処理を扱ったり、または要求レベルのパフォーマンスに応えたりするように製造されても構成されてもいません。</p>

					<p>シリコンやPCIe機器に埋め込まれた先進的なプロセッサーやネットワーキングテクノロジー（一般的にデータプレーンアクセラレーションと呼ばれます）がこのハードウェア上の課題を解決します。しかし、それにはエンハンストプラットフォームアウェアネス（EPA）とインテリジェントでワークロードアウェアなオーケストレーションが、それらプロセッサーやネットワーキングテクノロジーと組み合わさってのみ、通信事業者/キャリアグレードが有効的に使用可能な状態になります。</p>
					
					<p class="aligncenter"><img src="http://getcloudify.org/img/blog/cloudify_epa_dpa.png" width="500px"></p>

					<p>これらの機能を最大限に活用できるよう、高い可用性と低いレイテンシーを確保しつつスマートな配置と構成を行うインテリジェントなオーケストレーターの機能は、今日の大規模NFVシステムのパフォーマンスと信頼性に非常に大きく関わってきます。</p>
					
					<p>これをOpenStackとVMwareのスタックをともにサポートする複数VIM環境で行うことにより、通信キャリアは、シンプルで使いやすいサービスオーケストレーションを得て、クラウド管理のベストプラクティスと真にオープンなアーキテクチャーを活用し、クラウド環境下で自らの基幹業務であり実績に大きく関わるワークロードを、パフォーマンスを損ねることなく処理できるのです。</p>

					<p>See the below video demonstration as well:</p>
					<p class="aligncenter"><iframe width="500" height="300" src="https://www.youtube.com/embed/iyhE4Lvmxqc" frameborder="0" allowfullscreen></iframe></p>					
				
					</div>

				</div>
				</div>
				</div>
				</section>	


			<section id="content">
			<div class="row">
				<a name="nfvarchitecture"></a>
				<p></p>
				</div>

			<div class="container">
				<div class="row">
				<div class="span9">

			<h2><b>Cloudify と ETSI's MANO</b></h2>
			<p>ETSI（欧州電気通信標準化機構）は標準としてのレファレンスアーキテクチャーを定義してNFVを構想しました。このアーキテクチャーに不可欠な要素がMANO、つまりNFVの管理とオーケストレーションを行うレイヤーです。</p>  
			<br/>
			<img style="float: left; display: inline" src="{{ site.baseurl }}/img/ETSIdiagram.png" width="550" align="left" alt="NFV | ETSI | MANO"/> 
			<p><strong>TOSCAに準拠したMANO</strong></p>
			<p>MANOとはETSIが定義した、クラウドのインフラストラクチャーとリソースを管理/オーケストレートするレイヤーであり、以下の要素で構成されます: </p>
			<ul>
			<li>VIM（仮想インフラストラクチャーマネージャー）は、本質的にはVNFと、選択したNFVI（クラウド又は仮想レイヤー）のコンピュートやネットワーク及びストレージのリソースとの交流を制御します。</li>
			<li>VNFM（仮想ネットワーク機能マネージャー）は、インスタンシエーションやターミネーション、フェイルオーバー、拡張/縮小といったVNFのライフサイクル管理を行います。Cloudifyは汎用VNFマネージャー（G-VNFM）としての機能を担い、あらゆるネットワーク機能のライフサイクルを全段階にわたり完全に自動化します。vIMS管理の例についてはこの動画をご覧ください。</li>
			<li>NFVO（NFVオーケストレーター）はその名の指す通り、基本的にSDNコントローラーやOSS/BSSシステムなどとの統合を含む複雑なNFVアーキテクチャーを通じて、エンドツーエンドのネットワークサービスをオーケストレートし、管理することを目的としています。Cloudifyは完全にオープンなNFVOを提供します。NFVとSDNなどの詳細はこちらをクリックしてください。</li>
			</ul>
			<br/>
			<p>ETSIのMANOは、NFVのオーケストレーションと管理のエンドツーエンドのライフサイクルを、インストールからデプロイ後のデプロイメントまで、通信業界の用語で言えばDay0からDay2サポートまでを完全な形で提供することを意図しています。
			</p>

			<p>現状でMANOはガイドラインに過ぎず、TOSCA準拠の不可知実装を除くMANOの実装はすべて専有的であるため、サービスチェイニングを目的としたYANG/Netconfなど他の標準のプラグインも可能です。</p> 

			<p>通信業界は標準で動くことで知られますので、MANOとの整合はNFV採用にとって重要な要素です。最近の通信事業者と企業の多くはアプリケーションとネットワークのオーケストレーションという目的を達成できるモデリング言語を探しており、その実現に役立つものとしてOpenStackと本質的に標準主導型であるオープンソースクラウドを有力視しているからです。これこそが、TOSCAのような標準の重要性とその採用が、オーケストレーションプラットフォームを選ぶ際の重要な基準となる理由です。</p>

			<p>TOSCAは、アプリケーショントポロジーの宣言的記述と、ロードバランサーやネットワーク、コンピュートリソース、ソフトウェア、その他すべてを含めた全コンポーネントとの組合せ、さらに自動化することが必要なあらゆるプロセスのロジックを描写する必須ワークフローセットまでも兼ね備えています。NFVの観点からこれが示唆するのは、仮想アプリケーショントポロジーや、VNFの依存性と関係性、ライフサイクルの一部として実施すべき措置を定義するのであれば、TOSCAは非常に優れているということです。つまり、デプロイメントのネットワーキング部分をアプリケーションブループリントに要約することで、NFVのためにネットワークの要素とエンドツーエンドのライフサイクル管理を公開する際の煩雑さを大きく軽減できるのです。</p>

			<p><a href="http://getcloudify.org/guide/3.1/dsl-spec-general.html" target="_blank">TOSCA</a> の仕様についての詳細は、当社の資料で確認できます。</p>






								<hr/>

						<h2><strong>はじめに</strong></h2>
						<br/>
						<ul>
								<li><a href="{{ site.baseurl }}/guide/" target="_blank">Cloudifyを始める</a></li>
								<li><a href="{{ site.baseurl }}/tags/NFV/" target="_blank">CloudifyブログでのNFVに関する記事</a></li>
								<li><a href="{{ site.baseurl }}/tags/TOSCA/" target="_blank">CloudifyブログでのTOSCAに関する記事</a></li>
								</ul>
								<br/>
			
				<br/>

					
				<div class="row">
		<div class="span2"></div>
		<div class="span8">
				<div class="aligncenter">
				<p><a href="{{ site.baseurl }}/goPro.html" target="_blank"> Cloudify プレミアム</a>の詳細、またはCloudifyを今すぐ試す</p></div>
													
													{% include downloadbuttons.html %}

							
						</div>
						</div>
						<div class="span2"></div>
					</div>
					</div>
					</section>
					<div class="clear"></div>
</section>
{% include download-mixpanel-manager.html %}