---
layout: bt_about
title: OpenStack Architecture Made Easy with Cloudify
category: cloud orchestration cloud automation
---

<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="span12">
				<ul class="breadcrumb">
					<li><a href="/"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
					<li class="active">OpenStackのためのCloudify</li>
				</ul>
				<br/>
			</div>
		</div>
	</div>
</section>
		<section id="content">
			<div class="container">
				<div class="row">
					<div class="span6 no-margin">
						<h1><strong>OpenStackのためのCloudify</strong></h1>
						<h2>OpenStackプロジェクトにネイティブに適合すべく再設計されたCloudify</h2>
						<p><em><strong>OpenStackネイティブ</em></strong> になるプロセスには2つ構成要素があります。Nova、Neutron、Cinder、Keystone、HeatといったコアサービスやOpenStackコンポーネントとの統合、そしてOpenStackプロジェクトの実装ガイドラインの順守です。</p>
						<p>Cloudifyで私たちはこの必須要素を真剣に受け止め、製品全体をPythonで書き直し、どのようなOpenStackプロジェクトでも簡単にきちんと適合するよう、類似のスタックとアーキテクチャーを実装しました。</p>
													

													{% include downloadbuttons.html %}

					
						</div>
					<div class="span6">
						<!-- start flexslider -->
						<div class="flexslider">
							<ul class="slides">
								<li>
								<a class="hover-wrap fancybox fancybox.iframe" data-fancybox-group="gallery" title="Cloudify Your App on OpenStack Cloud" href="http://www.youtube.com/embed/byuYoplsabw?enablejsapi=1&wmode=opaque">
								<img src="img/OpenStackVid.png" alt="OpenStackオーケストレーション | OpenStackアーキテクチャー | OpenStack ネイティブ " /></a>
								</li>
							</ul>
						</div>
						<!-- end flexslider -->
					</div>
				</div>
				</section>
				<section id="content">
				<div class="container">
				<div class="row">
				<div class="span12">
					<h1><strong>主な特長</strong></h1>
					
				<hr/>

				</div>
				</div>
				</div>
			</section>	


		
<section id="content">
	<div class="container">
					<div class="row">
							<div class="span5">
							<div class="aligncenter icon">
							<a name="Heat"></a>
							<a name="heat"></a>
									<img src="img/cloudifyopenstackheat.png" width="400">
							</div>
							</div>
								<div class="span7">
								<h4><strong>OpenStackオーケストレーションのサポート（Heat）</strong></h4>
								<p>OpenStack Heatはインフラストラクチャーオーケストレーションの枠組みを提供する、OpenStack内のコアサービスです。</p>
								<p><strong><font color="#00B4DA" style="font-size:16px;">Cloudifyは出荷時の状態でHeatと統合可能</font></strong></p>
								<ul>
								<li><strong>Cloudify Heatのテンプレート</strong>
								<p>Heatのテンプレートを使ってCloudify をOpenStack環境にプロビジョニングできます。他のサービスと同様に、OpenStackユーザーはこのテンプレートを使ってCloudifyマネージャーの構成を修正および制御できます。</p>
								</li>
								<li><strong>インフラストラクチャーのオーケストレーション</strong>
								<p>ユーザーはHeatを通じてOpenStackインフラストラクチャー（マシン、ストレージ、ネットワーキング）を直接設定し、Cloudifyをその環境上のサービスとして追加することができます。Cloudifyはモニタリングや、ロギング、アラート、アナリティクス、ワークフロー自動化、ソフトウェアスタック構成、依存性管理などを追加します。Cloudify Heatのプラグインも、（まだデプロイされていない場合には）Heatスタックやその他のCloudifyコンポーネントを、同じデプロイメントコマンドでデプロイする際に利用できます。</p>
								</li>								
								</ul>
							</div>
							</div>

							<div class="row">
							<div class="span5">
							<div class="aligncenter icon">
									<img src="img/cloudifyopenstackneutron.png" width="400">
							</div>
							</div>
								<div class="span7">
								<h4><strong><font color="#00B4DA" style="font-size:16px;">Neutronでのビルトインネットワークのオーケストレーション</font></strong></h4>
								<p>クラウドのデプロイメントにおいてネットワーキングはコアサービスとなっています。この一般的なサービスグループである「ネットワーキング」は、セキュリティグループや、プライベートIP、フローティングIP、ルーター、DNS、vLAN、ロードバランサー、その他の必要とされるネットワーキング機能などの要素を指します。Cloudify 3には、あらゆるネットワーキング要素のサポートが含まれ、これらのネットワーキングの全要件の生成および管理をアプリケーションデプロイメントの一環として自動化するのに役立ちます。</p>
															
							</div>
							</div>
						</div>
					</div>

				</div>
</section>			
	 <section id="content">
	<div class="container">
			<div class="row">
			<div class="span12">
				<div class="aligncenter">
				<img src="img/HPTile-Tools.png" width="400">
				<h2><strong><font color="#00B4DA" style="font-size:16px;">自動化と監視のツールチェーン全体を統合する</font></strong></h2>
				</div>
				</div>
				<div class="row">
				<div class="span2"></div>

					<div class="span8">
						<div class="box alignjustify">
								<div class="text">
								<br/>								
								<p>一般的に、自動化された環境に必要なのは構成管理だけではありません。プロビジョニングに構成管理、ロギングとモニタリング、リアルタイムのアナリティクス、ワークフローの自動化を管理するために多彩で流動的なツールチェーンも必要になるのが通例です。</p>
								<p>Cloudifyはアプリケーションライフサイクルの様々な段階を通じて使える多彩なツールをもたらします:</p>
								<ul>
								<li>ChefやPuppet、Fabric 、Dockerなどの構成管理ツール</li>
								<li>OpenStack Heatなどのインフラストラクチャーオーケストレーションツール</li>
								<li>logstashやelasticsearchなどのロギングとモニタリングのツール</li>
								<li>Reimann.IOなどのリアルタイムのアナリティクスツール</li>
								</ul>
								<p>これにより、Cloudifyは業界共通のベストプラクティスを推進し、ユーザー環境の管理に最良のツール群を統合および利用しやすくしています。さらにCloudify 3は、モニタリングや構成管理、クラウドインフラストラクチャーための広範なツール群を容易に統合できる、新しいプラグインアーキテクチャーを備えています。</p>
								
							</div>
						</div>
					</div>
					
					<div class="span2"></div>

				</div>
			</div>
		</div>
				
				</section>
	 <div class="clear"></div>  
	 
	 <section id="content">
	<div class="container">
	<div class="row">
	<div class="span12">
	<div class="aligncenter"><h2><strong>さらなるOpenStack の利点</strong></h2></div>
				</div>
				<div class="row">
						<div class="span3">
						<div class="box alignjustify">
							<div class="aligncenter icon">
									<img src="img/openstack-one-color-alt.png"  width="121"/>
								</i>
							</div>
							<div class="text">
							<br/>
								<h4><strong><a href="{{ site.baseurl }}/guide/3.1/plugin-openstack.html#nova-net-support" target="_blank">OpenStackコンピュートのサポート（Nova）</a></strong></h4>
								<p>ユーザーは、マシンインスタンスの作成や、ソフトウェアスタック（複数階層のスタックを含む）のプロビジョニング、その依存性の管理、その上でのロギングとモニタリング、ポリシーの追加まで、すべてOpenStackの標準オーケストレーション言語であるTOSCAを利用して行えます。</p>
								
							</div>
						</div>
					</div>
							<div class="span3">
						<div class="box alignjustify">
							<div class="aligncenter icon">
							<a name="TOSCA"></a>
								<img src="img/topology-blue.png" width="150"/>
								</i>
							</div>
							<div class="text">
								<br/>
								<h4><strong><a href="http://docs.getcloudify.org/3.3.0/blueprints/spec-dsl-definitions/" target="_blank">TOSCAのサポート</a></strong></h4>
								<p>Cloudify 3は、<a href="https://www.oasis-open.org/committees/tc_home.php?wg_abbrev=tosca" target="_blank"> TOSCA（クラウドアプリケーションのためのトポロジーとオーケストレーションの仕様）</a>  を標準テンプレート言語として使用しています。現状の統合には、最新のHOTテンプレートのCloudify/TOSCAフォーマットへのマッピングが含まれます。また私たちは、Heatでも標準テンプレート言語としてTOSCAを正式にサポートするようHeatチームとも協業しています。</p>
							
							</div>
						</div>
		</div>			
		<div class="span3">
						<div class="box alignjustify">
							<div class="aligncenter icon">
									<img src="img/anyCloud.png"  width="200"/>
								</i>
							</div>
							<div class="text">
							<br/>
								<h4><strong><a href="{{ site.baseurl }}/vmware-hybrid-cloud.html" target="_blank">VMwareのサポート</a></strong></h4>
								<p>Cloudifyは、VMware Integrated OpenStackやvSphere、さらにvCloudとvCloud Airともシームレスに統合できます。三つのVMware環境をすべてサポートすることで、ユーザーに共通の管理と自動化の枠組みをもたらします。これにより、VMwareやOpenStackのクラウドとのハイブリッドクラウドを容易に構築できるようになります。Cloudifyがあればユーザーは、マシンインスタンスの作成、ソフトウェアスタックのプロビジョニング（複数階層を含む）、依存性管理、その上でのロギングとモニタリング、ポリシーの追加をすべてTOSCAという標準オーケストレーション言語を使用して行えるのです。</p>
								
							</div>
						</div>
					</div>
					<div class="span3">
						<div class="box alignjustify">
							<div class="aligncenter icon">
							<a name="multi-cloud"></a>
									<img src="img/plugarch-blue.png"  width="185"/>
								</i>
							</div>
							<div class="text">
							<br/>
								<h4><strong>AWSとその他のパブリッククラウドのサポート</strong></h4>
								<p>OpenStackはプライベートクラウドにおけるデファクトスタンダードになりつつありますが、パブリッククラウドの分野はまだAWSとGCEが圧倒的です。Cloudifyには他のパブリッククラウドもサポートしており、OpenStackユーザーがOpenStack環境をAWSやその他のパブリッククラウドにオンデマンドで簡単に拡張できるようになっています。</p>
								
							</div>
						</div>
					</div>
					
				
		</div>
		</div>			
		</div>
			</section>
			
	

		<section id="bottom">
			<div class="container">

				<div class="row">
				<div class="span12">
						<h1><strong>はじめに</strong></h1>
						<hr/>
					<ul>
								<li><a href="{{ site.baseurl }}/guide/3.1/quickstart-openstack.html" target="_blank">CloudifyとOpenStackをはじめる</a></li>
								<li><a href="http://getcloudify.org/2014/07/29/DevStack-Boostrap-Cloudify.html" target="_blank">DevStack上にCloudifyを設定する</a></li>
								<li><a href="http://getcloudify.org/2014/07/07/openstack-orchestration-heat-devstack.html" target="_blank">HeatテンプレートでCloudifyマネージャーをブートストラップする方法</a></li>
								</ul>
				<hr/>
				<div class="row">
		<div class="span2"></div>
		<div class="span8">
				<div class="aligncenter">
				<h2><strong>Cloudify Premium<sup>TM</sup>の詳細、または今すぐダウンロードする</strong></h2></div>
										
							{% include downloadbuttons.html %}

							
						</div>
						</div>
						<div class="span2"></div>
					</div>
					</div>
					</section>
					<div class="clear"></div>
</section>